<%- include("partials/header.ejs") %>

<h1 class="archive-title">Welcome to my Blog</h1>

<%- include("partials/archive.ejs") %>

<a href="/create" class="btn btn-secondary addPost" role="button">Add New Post</a>

 <%- include("partials/footer.ejs") %>